{% extends "base.html" %}
{% block body %}
<h1>Submissions for {{ assignment_name }}</h1>

<div class="row">
    <div class="col-md-4">
        <h3>Submission Count</h3>
        <p>{{ stats.submission_count }}</p>
    </div>
    <div class="col-md-4">
        <h3>Average Code Score</h3>
        <p>{{ "%.2f"|format(stats.avg_code_score) }}</p>
    </div>
    <div class="col-md-4">
        <h3>Average Runtime</h3>
        <p>{{ "%.3f"|format(stats.avg_runtime) }}s</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Average Lint Errors</h3>
        <p>{{ "%.2f"|format(stats.avg_lint_errors) }}</p>
    </div>
    <div class="col-md-4">
        <h3>Fastest Runtime</h3>
        <p>{{ "%.3f"|format(stats.fastest_runtime) }}s</p>
    </div>
    <div class="col-md-4">
        <h3>Highest Code Score</h3>
        <p>{{ "%.2f"|format(stats.highest_code_score) }}</p>
    </div>
</div>

<div class="row">
    <table class="table condensed table-striped" border="2px solid black">
        <tr>
            <th>Time</th>
            <th>Student</th>
            <th>Code Score</th>
            <th>Runtime (s)</th>
            <th>Lint Errors</th>
            <th>Status</th>
        </tr>
        {% for sub in submissions %}
        <tr>
            <td>{{ sub.submission_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td><a href="{{ url_for('student_view', name=sub.student_id) }}">
                {{ sub.student_id }}</a></td>
            <td>{{ "%.2f"|format(sub.code_score) }}</td>
            <td>{{ "%.3f"|format(sub.runtime) }}</td>
            <td>{{ "%.2f"|format(sub.lint_errors) }}</td>
            <td>{{ sub.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
