{% extends "base.html" %}
{% block body %}

<div class="row">
    <div class="page-header">
        <h2 id="details"><i class="fa fa-calculator"></i> Details</h2>
    </div>
</div>

<div class="row">
    This semester we're going to try something new. Throughout the course of the semester your challenges (and potentially a few other assignments) will gain you points based on four different metrics. Based on these points you'll be ranked against your classmates and will be entered in a competition for a small pool of bonus points. Your final submission for each challenge will be used to calculate points based on the formula below:
</div>

<br>

<div class="row">
    <div class="alert alert-info">
        <b>Scoring Formula:</b> 
        <pre>0.4 * Runtime Rank + 0.3 * Lint Rank + 0.2 * Submission Time Rank + 0.1 * Code Score</pre>
    </div>
</div>

<div class="row">
    <div class="alert alert-danger">
        <b>Stakes:</b> 5 bonus points for 1st place, 2 bonus points for 2nd, and 1 bonus point for 3rd, 4th, or 5th.
    </div>
</div>

<div class="row">
    In addition to the points given by the formula above, there are three more bonus points available for being the top in the three categories: Runtime, Submission Time, Lint Score. These are indicated by:
    <p class="label label-warning" data-toggle="tooltip" title="Lowest Average Runtime for Final Submission: 1 bonus point">Speedster</p>
    <p class="label label-info" data-toggle="tooltip" title="Earliest Average Submission Date for Final Submission: 1 bonus point">Early Bird</p>
    <p class="label label-success" data-toggle="tooltip" title="Fewest Average Lint Errors for Final Submission: 1 bonus point">Prettiest</p>
</div>

<br>

<div class="row">
    <div class="alert alert-success">
        <b>Note:</b> You have all been assigned an anonymous identifier. If you're interested in seeing where you stack up just contact me and I will send it to you!
        You will also be able to display your real name on the leaderboard if you want to show off!
    </div>
</div>

{% endblock %}