{% extends "base.html" %}
{% block content %}
<h1>All Submissions</h1>
<table>
    <tr>
        <th>Time</th>
        <th>Student</th>
        <th>Assignment</th>
        <th>Code Score</th>
        <th>Runtime (s)</th>
        <th>Lint Score</th>
    </tr>
    {% for sub in submissions %}
    <tr>
        <td>{{ sub.submission_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        <td><a href="{{ url_for('student_view', name=sub.student_id) }}">
            {{ sub.student_id }}</a></td>
        <td><a href="{{ url_for('assignment_view', name=sub.assignment) }}">
            {{ sub.assignment }}</a></td>
        <td>{{ "%.2f"|format(sub.code_score) }}</td>
        <td>{{ "%.3f"|format(sub.runtime) }}</td>
        <td>{{ "%.2f"|format(sub.lint_score) }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}