{% extends "base.html" %}
{% block body %}
<div class="container">
    <h2>Update Profile</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.real_name.label }}<br>
            {{ form.real_name(size=32, class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.display_real_name() }} {{ form.display_real_name.label }}
        </div>
        <div class="form-group">
            {{ form.secret_token.label }}<br>
            {{ form.secret_token(size=32, class="form-control") }}
            {% for error in form.secret_token.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %} 